<div class="container" style="margin:100px auto">
  <div class="row">
    <div class="col">
      <h1>P치gina de novedades en construcci칩n</h1>
      <p class="text-right">Hola {{ usuario }} !</p>
      <p>Pr칩ximamente te avisaremos cuando se inaugure el sitio.</p>
      <p class="text-right">
        <a href="/admin/login/logout" class="btn btn-sm btn-danger" style="float:right;">Cerrar sesi칩n
      <i class="fa fa-sign-out"></i>
      </a>
      </p>
    </div>
  </div>
</div>