.contenedorPpal{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 95vh;
    padding-top: 20vh;
}

.tituloSesion{
    color:black;
    background-color: #ccc;
}

.sesionAbierta{
    color:blueviolet;
}

.sesionCerrada{
    color:aquamarine;
}